:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: larger;
}
#logo {
  height: 2.5rem;
}
body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-inline: .5rem;

}

header {
  display: flex;
  flex-wrap: wrap; 
  align-items: center; 
  gap: 10px; 
}

/* Added to prevent bootstrap ovverides of form formatting */
fieldset {
  border: 1px solid white;
  padding: 1rem;
}
legend {
  font-weight: bold;
}

h1, nav {
  width: 100%; 
}

h1 {
  margin-bottom: 10px; 
}


nav { 
  display: flex;
  flex-wrap: wrap;
  gap: 1rem; 
}
nav a {
  white-space: nowrap;

}


/* img {
  height: 50px; 
} */

h2 {
  margin-left: 10px; 
}
footer {
  text-align: center;
  font-size: small;
}
main {
  flex-grow: 1;
  
}
button {
  background-color: rgb(32,32,32);
  border: 1px solid;
  border-radius: 0.25rem;
  padding: .25rem 0.5rem;
  font-weight: 500;
  margin: 0.25rem;
  font-size: medium;
}



button:focus {
  outline: 3px solid cyan;
}
input {
  padding: 0.25rem;
}
label {
  display: block;
}
form {
  margin-block: 2rem;
}
/* shrink on click and hover click */
button:active,
button:hover:active {
  transform: scale(0.9);
  border-color: yellow;
  
}
/* grow on hover */
button:hover {
  transform: scale(1.1);
  border-color: blue;
  
}

@media (prefers-color-scheme: light) {
  :root, body {
    color: black !important;
    background-color: #ffffff !important;
  }
  button {
    color: white;
  }
}
